version: "3"
services:
    elasticsearch:
        image: elasticsearch:7.8.1
        ports:
            - "9200:9200"
            - "9300:9300"
        environment:
            - discovery.type=single-node
